@layer utilities {


/* ------------------------------------------------- */
/* Text Size */

.headline-xl        { font-size: var(--text-5xl); letter-spacing: var(--letter-spacing-xs); }
.headline-lg,
.text-4xl           { font-size: var(--text-4xl); letter-spacing: var(--letter-spacing-xs); }
.headline,
.text-3xl           { font-size: var(--text-3xl); letter-spacing: var(--letter-spacing-xs); }
.heading-xl,
.text-2xl           { font-size: var(--text-2xl); }
.heading-lg,
.text-xl            { font-size: var(--text-xl); }
.heading,
.text-lg            { font-size: var(--text-lg); }
.heading-sm,
.text               { font-size: var(--text-base); }
.heading-xs,
.text-sm            { font-size: var(--text-sm); }
.text-xs            { font-size: var(--text-xs); font-weight: var(--text-normal); letter-spacing: var(--letter-spacing-lg); }

/* Heading Weights */
.heading-xs,
.heading-sm,
.heading,
.heading-lg,
.heading-xl,
.heading-2xl,
.headline,
.headline-lg        { font-weight: var(--text-bold); }


/* ------------------------------------------------- */
/* Text Alignment */

.text-center { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }


/* ------------------------------------------------- */
/* Visibility */

.visually-hidden { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.hidden          { display: none; }
.block           { display: block; }
.inline-block    { display: inline-block; }
.inline          { display: inline; }


/* ------------------------------------------------- */
/* Responsive Visibility */

  @media (max-width: 768px) {
    .sm\:hidden { display: none; }
    .sm\:block  { display: block; }
  }

  @media (min-width: 769px) {
    .lg\:hidden { display: none; }
    .lg\:block  { display: block; }
  }

}
