/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  interpolate-size: allow-keywords;
  text-size-adjust: none;
}

body {
  min-block-size: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

img,
video {
  block-size: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

[hidden] {
  display: none;
}

/* Only !important in Syrup. See [1] */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}

/* Notes
 * [1] 0.01ms not 0 so transitionend/animationend events still fire for JS.
 */
